// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  width: 100vw;
  height: 100vh;
  background: rgb(74,175,244);
  background: radial-gradient(circle, rgba(74,175,244,1)32%, rgba(74,78,244,1)100%);
}
.todo svg:hover{
  cursor: pointer;
}
.br{
  border-radius: 15px;
}
.first{
  border-radius: 15px 15px 0px 0px;
}

.last{
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.3);
}